[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scSpatialSIM"]
	path = scSpatialSIM
	url = https://github.com/fridleylab/scspatialsim
[submodule "spatialTIME"]
	path = spatialTIME
	url = https://github.com/fridleylab/spatialtime
